.container1 {
  border-style: solid;
  width: 18rem;
  height: 50rem;
  float: left;
  background-color: #c8c8c8;
}

.container2 {
  margin: auto;
  width: 25rem;
  height: 18rem;
  border: 3px solid black;
  float: center;
  text-align: auto;
}

.row .col {
  border: 2px solid black;
}
