.container-fluid {
  border-style: solid;
}

.row-1 {
  border-style: solid;
  align-items: center;
  margin: auto;
  width: 50%;
  height: 8rem;
  border: 3px solid black;
  padding: 10px;
}

h1 {
  text-align: center;
  color: blue;
}

.row-lg {
  background-color: grey;
}

.col {
  border-style: solid;
}
